@import '../../node_modules/normalize-sass/normalize';

@import url(http://fonts.googleapis.com/css?family=Nixie+One|Bitter:400,700);

$green: #195C29;
$red: #B7251D;
$yellow: #EACD07;
$cream: #FBF4EC;

$side-margin: 10vw;


.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin: 10px;
  margin: 1vw;
  padding-top: .5em;
}

body {
  background-color: $cream;
  font-family: 'Bitter', serif;
}

h1 {
  font-family: 'Nixie One', cursive;
  text-indent: $side-margin * 1.2;
  margin: 0;
  margin-bottom: -.22em;

  background: linear-gradient(black, lighten($green, 5%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 5vw;
  @media screen and (max-width: 700px) {
    font-size: 10vw;
  }
  @media screen and (min-width: 701px) and (max-width: 1200px) {
    font-size: 7vw;
  }
}

nav {
  margin-bottom: 2em;
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    margin: 0;
    padding: 0;
  }
  li a {
    text-align: center;
    font-weight: 700;
    text-decoration: none;

    float: left;
    width: 20%;
    min-width: 120px;
    padding: .2em;
    border-radius: 3px;
    transition: background .2s ease,
                color .2s ease;
    &:hover {
      background-color: darken($green, 5%);
    }
  }
  @media screen and (min-width: 1300px) {
    li {
      float: left;
      width: auto;
      padding: 0 1em;
      &:first-of-type {
        padding-left: 0;
      }
    }
  }
  @extend .clearfix;
}

$border-width: 130;
$border-top: 15;

.main {
  @media screen and (min-width: 500px) {
    text-align: justify;
  }
  .content {
    margin-bottom: 2em;
    @extend .clearfix;
  }
  .content > p, footer, nav ul, img {
    padding: 0 $side-margin * .2;
  }
  img {
    float: left;
    max-width: 100%;
    @media screen and (max-width: 1000px) {
      float: none !important;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  img:nth-of-type(odd) {
    float: right;
  }
  background-color: $green;
  color: $cream;
  border-style: solid;
  border-width: ($side-margin * $border-top / $border-width) $side-margin;
  border-image: url(../imgs/border.png) $border-top $border-width repeat round;
}

// Don't go larger than image size, and line up title.
@media screen and (min-width: #{$border-width * ($side-margin / 1vw)}px) { // 10vw / 1vw = 10
  h1 {
    text-indent: #{1.2 * $border-width}px;
  }
  .main {
    .content > p, footer, nav ul, img {
      padding: 0 #{.2 * $border-width}px;
    }
    border-width: #{$border-top}px #{$border-width}px;
  }
  footer {
    margin-bottom: -#{$border-top}px !important;
  }
}

footer {
  clear: both;
  background-color: darken($green, 10%);
  margin-bottom: -($side-margin * $border-top / $border-width)+.1;
  p {
    display: inline-block;
    float: left;
  }
  p:last-child {
    float: right;
  }
  @extend .clearfix;
  a {
    color: darken($cream, 10%);
    &:hover {
      color: darken($cream, 20%);
    }
  }
}

a {
  color: darken($green, 15%);
  transition: color, .2s ease;
  &:hover {
    color: darken($green, 20%);
  }
}